body{
    background-color: bisque;
    font-family: Bai Jamjuree;
}

footer{
    background-color: rgb(0, 245, 245);
    color: black;
    border: 2px solid black;
    padding-left: 5px;
    padding-right: 5px;
    
    position: fixed;
    bottom: 0px;
    width: 100%;
    margin-bottom: 1rem;
   
   
}

footer p {
    font-size: 0.6em;
    text-align: center;
}